%styleTitle{
    font-family: $ffOpenSans;
    font-weight: $fwBold;
    font-size: $fzTitle;
    line-height: $lhTitle;
    color: $white;
}
%styleText{
    font-family: $ffOpenSans;
    font-weight: $fwSemibold;
    font-size: $fzText;
    line-height: $lhText;
    color: $white;
    line-height: $lhSubtitle;
}